body{
	background:#1F2937;
	color: white;
	position: absolute;
	margin-left: 50px;
	margin-top: 50px;
}

.main-heading{
	font-family: 'Karla';
	font-style: normal;
	font-weight: 800;
	font-size: 40px;
	line-height: 40px;
	letter-spacing: -0.025em;
}

#main-head2{
	color: #4ADF86;
}

#sec-head{
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 28px;
	color: #D5D4D8;
}

#generate-btn{
	margin-top: 50px;
	margin-bottom: 30px;
	font-size: 16px;
	background: #10B981;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
	border-radius: 6px;
	border: none;
	padding: 9px 17px 9px 15px;
	color: white;
}

.modifications{
	margin-bottom: 20px;
}

#inputLength{
	font-size: 15px;
	margin-right: 20px;
	width: 35px;
}

#toggle{
	font-size: 15px;
	background: green;
	color: white;
	border: none;
	width: 50px;
}

.toggleClass{
	background: lightcoral !important;
}

hr{
	border: 1px solid #2F3E53;
}

#pass1,#pass2{
	width: 300px;
	height: 40px;
	background: #273549;
	border: none;
	border-radius: 6px;
	margin-top: 30px;
	font-size: 16px;
	color: #55F991;
	padding: 9px 17px 9px 15px;
	margin-right: 20px;
}

#snackbar {
	visibility: hidden;
	color: #fff;
	background-color: #333;
	min-width: 250px;
	margin-left: -125px;
	border-radius: 2px;
	padding: 16px;
	text-align: center;
	left: 50%;
	bottom: 30px;
	z-index: 1;
	position: fixed;
  }
  
  /* This will be activated when the snackbar's class is 'show' which will be added through JS */
  #snackbar.show {
	visibility: visible;
	-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  /* Animations for fading in and out */
  @-webkit-keyframes fadein {
	from {bottom: 0; opacity: 0;}
	to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
	from {bottom: 0; opacity: 0;}
	to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
	from {bottom: 30px; opacity: 1;}
	to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
	from {bottom: 30px; opacity: 1;}
	to {bottom: 0; opacity: 0;}
  }